<div id="wrappersub">
<header>
<a href="/"><h1 class="logo">Anumira Technologies</h1></a>

</header>
<section id="contents">
<div class="colleft">
<h2>Administrator</h2>
<article>
<%= render 'layouts/navigation' %>
</article>
</div>
</section>
